.navbar {
    width: 100%;
    background-color: var(--main-bg-1);
    z-index: 100;
}

.navbar-brand {
    color: var(--main);
}

.navbar-nav {
    margin-left: auto;
    gap: var(--space-3);
}

.navbar-nav .active {
    color: var(--main);
}

.navbar-nav a {
    color: var(--font-color);
    padding: 2px;
    cursor: pointer;
    border-radius: 5px;
}

.navbar-nav a:hover {
    color: var(--main);
}

.navbar-nav a:active {
}

.navbar-toggler {
    /*border: 1px solid $GREEN;*/
    box-shadow: none;
}

.navbar-toggler i {
    /*color: $GREEN;*/
}


