:root {
    /* Colors */
    --main: #72B01D;
    --main-dark: #3F7D20;
    --main-bg: #22252e;
    --main-bg-0: #1d2028;
    --main-bg-1: #1b1d24;

    --font-color: #F6F8F8;
    --font-color-1: #E4E7EA;
    
    --opposite: #F6F8F8;
    --opposite-1: #E4E7EA;

    /* Shadow */
    --n-shadow: 5px 5px 10px #191b22,
    -5px -5px 10px #21252e;
}

.login-main-container {
    background-image: url("../images/backgrounds/bg_login_1.svg");
}
