:root {
    /* Colors */
    --main: #3DCE50;
    --main-bg: #F6F8F8;
    --main-bg-1: #E4E7EA;

    --font-color: #343A40;
    --font-color-1: #212529;

    --opposite: #343A40;
    --opposite-1: #212529;
}
