:root {
    /* Colors */
    --main: #72B01D;
    --main-dark: #3F7D20;
    --main-bg: #E4E7EA;
    --main-bg-1: #CFD3D7;

    --font-color: #22252e;
    --font-color-1: #1b1d24;

    --opposite: #22252e;
    --opposite-1: #1b1d24;

    /* Shadow */
    --n-shadow: 5px 5px 10px #c2c4c7,
    -5px -5px 10px #ffffff;
}

.login-main-container {
    background-image: url("../images/backgrounds/bg_login.svg");
}
