.tickets-table-main-container thead, .tickets-table-main-container thead th {
    color: var(--main-bg);
    background-color: var(--main);
}

.tickets-table-main-container thead i {
    color: var(--font-color);
    font-size: 15px;
}

.tickets-table-main-container tr {
    color: var(--font-color);
}

.tickets-table-main-container tbody tr:hover {
    color: var(--main);
    cursor: pointer;
}

.tickets-table-main-container .selected {
    color: var(--main);
}