.app-main-container {
    
}

.app-main-container > div {
    height: 100%;
    padding: calc(var(--space-3) * 2);
}

.side-menu-container {
    width: 276px;
    border-right: 1px solid var(--main);
    background-color: var(--main-bg-0);
}

.body-container {
    flex: auto;
    overflow-x: hidden;
    overflow-y: auto;
}
