.side-nav-bar-main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: var(--space-4);
}

.side-navbar-option {
    display: flex;
    flex-direction: row;
    gap: var(--space-4);
    padding: var(--space-2) var(--space-4);
    border-radius: var(--radius);
    background: var(--main-bg);
    box-shadow: var(--n-shadow);
}

.side-navbar-option:hover{
    cursor: pointer;
    color: var(--main);
}

.side-navbar-option i {
    color: var(--main)
}

.separator {
    width: 50%;
    margin: 0 auto;
    border: 1px solid var(--main);
}