<div class="side-nav-bar-main-container">
    <ng-container *ngFor="let option of navBarOptions">
        <div class="side-navbar-option"
        routerLinkActive="active"
        routerLink="{{ option.route }}"
        (click)="nvaigate(option.route)"
        *ngIf="option.name != 'separator'; else elseBlock">
            <i class="{{ option.icon }}"></i>
            {{ option.id | idToName }}
        </div>
        <ng-template #elseBlock>
            <div class="separator"></div>
        </ng-template> 
    </ng-container>     
</div>
