.app-main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app-main-container > div{
    position: absolute;
    top: var(--nav-bar-height);
    flex: auto;
    width: 100%;
    height: calc(100% - var(--nav-bar-height));
}
