<div class="side-nav-bar-main-container">
    <ng-container *ngFor="let option of navBarOptions">
        <div class="side-navbar-option"
        routerLinkActive="active"
        routerLink="{{ option.route }}"
        (click)="nvaigate(option.route)"
        *ngIf="option.name != 'separator'; else elseBlock">
            <i class="{{ option.icon }}"></i>
            <span>{{ option.id | idToName }}</span>
        </div>
        <ng-template #elseBlock>
            <div class="separator"></div>
        </ng-template> 
    </ng-container>
    <div class="side-navbar-status" (click)="changeSideMenuStatus()">
        <i class="bi bi-chevron-bar-left" *ngIf="sideMenuOpen; else elseBlock"></i>
        <ng-template #elseBlock>
            <i class="bi bi-chevron-bar-right"></i>
        </ng-template> 
    </div>
</div>
