:root {
    /* Spacing */
    --space-1: 5px;
    --space-2: 8px;
    --space-3: 13px;
    --space-4: 21px;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    background-color: var(--main-bg);
    color: var(--font-color-1);
}

.main-container {
    display: flex;
    height: 100%;
}
